{
  "extends": "airbnb",
  "rules": {
    "no-console": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "settings": {
    "ecmascript": 6
  },
  "plugins": [
    "import"
  ]
}