{
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  plugins: [
    "import",
    "jest"
  ],
  env: {
    node: true,
    browser: true,
    jest: true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [".js", ".jsx"]
      }
    }
  },
  rules: {
    "max-len": [2, {code: 125}],
    "no-multi-str": 0
  }
}