.border-white {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.content-container {
  @extend .border-white;

  padding: 20px;
  background-color: #666;
}

.bg-white {
  background-color: white;
}

.font-color-white {
  color: white;
}

.full-width {
  width: 100%;
}

.bg-color-dark-gray {
  background-color: #666;
}

.portfolio-item_logo-image {
  width: 250px;
}

.equal-height-cols {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}