$grid-gutter-width: 2rem; // TODO needs to be whatever we have for MUI, which I believe is 12 (x2 = 24), but may need to be pulled from common config, DS.
$standard-spacing: $grid-gutter-width;

$header-height: 6.4rem;
$footer-height: 12rem;
