.app-root-container {
  position: relative;
  top: $header-height-mobile;
  padding: $main-top-spacing-mobile $standard-spacing ($header-height-mobile + $standard-spacing * 4) $standard-spacing;
}

@media (min-width: 600px) {
  .app-root-container {
    top: $header-height-desktop;
    padding: $main-top-spacing-desktop $standard-spacing ($header-height-desktop + $standard-spacing * 4) $standard-spacing;
  }
}

@media (min-width: 1440px) {
  .app-root-container {
    max-width: 1360px;
  }
}
