body {
  background-color: #171717 !important; }

a {
  text-decoration: none; }

.app-root-container {
  margin-left: auto;
  margin-right: auto;
  min-height: calc(100vh - 12rem - 6.4rem);
  position: relative;
  top: 6.4rem;
  padding: 2rem 2rem 8.4rem 2rem; }

@media (min-width: 1440px) {
  .app-root-container {
    max-width: 1360px; } }
