body {
  background-color: #171717 !important; }

html {
  position: relative;
  min-height: 100%; }

a {
  text-decoration: none; }

.app-root-container {
  position: relative;
  top: 48px;
  padding: 60px 20px 128px 20px; }

@media (min-width: 600px) {
  .app-root-container {
    top: 64px;
    padding: 100px 20px 144px 20px; } }

@media (min-width: 1440px) {
  .app-root-container {
    max-width: 1360px; } }
